.lt{
  font-size:43px;
  text-align:center;
  padding-bottom:0px;
  font-weight:200;
  line-height: 0px;
}
.mt{
  line-height:10px;
  font-size:30px;
  font-weight:400;
}
.ft{
  text-decoration: underline;
}